/* style.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, #2980b9, #8e44ad);
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-container {
  position: absolute;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  width: 320px;
  padding: 30px;
  text-align: center;
  margin-left: auto;
  /* Rata kanan */
}

.login-form label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: left;
  color: #444;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.password-input {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
}

.login-form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.login-form input[type="submit"]:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 480px) {
  .login-container {
    width: 90%;
  }
}

/*css link*/

body {
  font-family: Arial, sans-serif;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  padding: 0 20px;
  text-align: center;
}

.cool-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0891b2;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.cool-link:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}